<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>
<% if @profile == current_user.profile %>
	<%= link_to 'Edit', edit_profile_path(@profile) %>
<% end %>
