<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.first_name %> <%= @profile.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<% if @profile == current_user.profile %>
	<%= link_to 'Edit My Profile', edit_profile_path(@profile) %>
<% end %>
