<div class="row">
	<div class="col-sm-4">
		<p id="notice"><%= notice %></p>
		<h2>My details</h2>
		<p>
		  <strong>Name:</strong>
		  <%= @profile.first_name %> <%= @profile.last_name %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @profile.phone %>
		</p>

		<p>
		  <strong>Email:</strong>
		  <%= @profile.user.email %>
		</p>

		<% if @profile == current_user.profile %>
			<%= link_to 'Edit', edit_profile_path(@profile), class: 'lesserbutton' %>
		<% end %>
		<hr>
		<h2>My Connections</h2>
		<p>
			<%= render 'groups/index' %>
		</p>

	</div>

	<div class="col-sm-4">
		<h2>My Wishlist</h2>
		<% if current_user.wish_products %>
			<% current_user.wish_products.each do |wish| %>
				<%= link_to wish.product.name, product_path(wish.product), class:'lesserbutton' %><br>
			<% end %>
		<% end %>
	</div>

	<div class="col-sm-4">
		<h2>My History</h2>
		<% if @history %>
			<% @history.each do |purchase| %>
				<%= purchase.product.name %>
				<% if Extra.where(id: purchase.booking.extras).any? %>
					<% Extra.where(id: purchase.booking.extras).each do |extra| %>
						( + <%= extra.name %> $<%= extra.price %> )<br>
					<% end %>
				<% end %><br>
				Total : $<%= purchase.price / 100 %><br>
				Purchased <%= purchase.created_at.strftime('%e/%B/%Y') %><br><br>
			<% end %>
		<% else %>
			You have no purchases yet
		<% end %>
	</div>

</div>