<h2>for <%= @date %> </h2>
<%= simple_nested_form_for(@booking) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="padding-left: 4em;">
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.hidden_field :date, value: @date %>
    Customise your booking:
    <%= f.fields_for :booking_extras do |book| %>
      <%= book.association :extra, label: 'choose an option:' %><%= f.link_to_remove "- remove", class: 'dangerbutton' %>
    <% end %>
    <%= f.link_to_add '+ add an option', :booking_extras, class: 'lesserbutton', style:'margin: 1em;' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'basicbutton' %>
  </div>
<% end %>
