<%= nested_form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Give your connection a name:<br>
    <%= f.text_field :name %>
  </div>
  <hr>
  <div class="field">
    <%= f.fields_for :invitations do |invitation| %>
      Enter their email address to send your invitation:
      <%= invitation.text_field :email %>
      <%= invitation.link_to_remove 'remove member', class:'dangerbutton' %>
    <% end %>
    <%= f.link_to_add '+ invite another person', :invitations, class:'lesserbutton' %>
  </div>
  <hr>
  <div class="actions">
    <button type='submit' class='basicbutton'>
      Done!
    </button>
  </div>
<% end %>
