<div class="row">
	<div class="col-xs-12">
		<h2>Welcome to your admin panel.</h2>
	</div>
	<div class="col-sm-2">
		<%= link_to 'Add a new Package', new_product_path, class: 'basicbutton' %>
	</div>
	<div class="col-sm-2">
		<%= link_to 'Profiles', profiles_path, class: 'basicbutton' %>
	</div>
	<div class="col-sm-2">
		<%= link_to 'Reviews', reviews_path, class: 'basicbutton' %>
	</div>
	<div class="col-sm-2">
		<%= link_to 'Terms and Conditions', products_path, class: 'basicbutton' %>
	</div>
	<div class="col-sm-2">
		<%= link_to 'About Us', products_path, class: 'basicbutton' %>
	</div>
	<div class="col-sm-2">
		<%= link_to 'Analytics', products_path, class: 'basicbutton' %>
	</div>
</div>


