<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @extra.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @extra.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @extra.price %>
</p>

<%= link_to 'Edit', edit_extra_path(@extra) %> |
<%= link_to 'Back', extras_path %>
