<%= simple_nested_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='col-xs-12'>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class='col-xs-12'>
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'ckeditor'%>
  </div>
  <div class='col-xs-12'>
    <%= f.label :price %><br>
    $<%= f.text_field :price %>
  </div>
  <div class='col-xs-12'>
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class='col-xs-12'>
    <%= f.label :suburb %><br>
    <%= f.text_field :suburb %>
  </div>
  <div class='col-xs-12'>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class='col-xs-12'>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <hr>
  <div class='col-xs-12'>
    <%= f.fields_for :photos do |ff| %>
      <%= ff.input :photo_url, as: :file %>
      <%= ff.link_to_remove "- remove photo", class: 'dangerbutton' %>
    <% end %><hr>
    <%= f.link_to_add '+ add photo', :photos, class: 'lesserbutton' %>
  </div>
  <hr>
  <div class='col-xs-12'>
    <%= f.fields_for :available_dates do |ffff| %>
      <%= ffff.hidden_field :product_id, value: @product.id %>
      <%= ffff.datetime_select :avail %>
      <%= ffff.link_to_remove "- remove availability", class: 'dangerbutton' %>
    <% end %><hr>
    <%= f.link_to_add '+ add availability', :available_dates, class: 'lesserbutton' %>
  </div>
  <div class="actions">
    <%= f.submit class:'basicbutton' %>
  </div>
<% end %>

<script>
  $('.ckeditor').ckeditor({ 
      //  optional  config  
  });
</script>