<div class="row center-align">
  <div class="col-xs-12">
    <% if user_signed_in? && (current_user.has_role? :admin) %>
      <%= link_to '+ New Package', new_product_path, class: 'dangerbutton' %>
    <% end %>
    <%= form_tag(products_path, method: "GET") do %>
        <%= text_field_tag(:search_input, nil, placeholder: "location or keyword", id:'searchfield') %>
        <button type='submit' class='cleanbutton' id='searchbutton'>
          <i class='fa fa-search'></i>
        </button>
      <% end %>
  </div>
</div>
<hr>
<div class="row">
  <% if @products.any? %>
    <% @products.each do |product| %>
      <% if user_signed_in? %>
        <% destination = product_path(product) %>
      <% else %>
        <% destination = new_user_registration_path %>
      <% end %>
      <%= link_to destination do %>
        <div class="col-md-4 col-xs-12 product">
          <div class="col-md-12 col-xs-6">
            <% if product.photos.any? %>
              <%= image_tag product.photos.last.photo_url_url(:thumb)  %>
            <% end %>
          </div>
          <div class="col-md-12 col-xs-6">
            <div class="col-md-9 product_title">
              <%= product.name %>
            </div>
            <div class="col-md-3">
              <%= product.city %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-xs-9">
              <%= product.description.html_safe %>
            </div>
            <div class="col-xs-3">
              $<%= product.price %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="col-xs-12 center-align">
      No products match your search, try again!
    </div>
  <% end %>
</div>
