<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @product.price %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @product.capacity %>
</p>

<% if user_signed_in? %>
  <p>
    <strong>Street:</strong>
    <%= @product.street %>
  </p>
<% end %>

<p>
  <strong>Suburb:</strong>
  <%= @product.suburb %>
</p>

<p>
  <strong>City:</strong>
  <%= @product.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @product.state %>
</p>

<% if user_signed_in? %>
  <p>
    <strong>Contact name:</strong>
    <%= @product.contact_name %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= @product.contact_number %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= @product.contact_email %>
  </p>
  <% if current_user.wish_products.find_by(product: @product) %>
    <%= link_to 'Remove from Wishlist', remove_wish_product_path(product_id: @product.id), class:'dangerbutton' %>
  <% else %>
    <%= link_to 'Add to Wishlist', wish_product_path(product_id: @product.id), class:'basicbutton' %>
  <% end %>
  <%= link_to 'Write a Review', new_review_path(product: @product), class:'basicbutton' %>
  PURCHASE
  SHARE
<% end %>

<%= link_to 'Back', products_path, class:'lesserbutton' %>
