<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @product.capacity %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @product.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @product.latitude %>
</p>

<p>
  <strong>Street:</strong>
  <%= @product.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @product.suburb %>
</p>

<p>
  <strong>City:</strong>
  <%= @product.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @product.state %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @product.contact_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @product.contact_number %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @product.contact_email %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
