<div class='navigation row'>
	<div class='col-xs-2 logo'>
		<%= image_tag 'logo.png', alt: 'Not Just a Date logo', class: 'logo' %>
	</div>
	<div class='col-xs-2 navbutton'>
		<div id="title">Not Just a Date</div>
	</div>
	<div class='col-xs-2 navbutton'>
		<%= link_to 'Browse', products_path %>
	</div>
	<div class='col-xs-2'>
	</div>
	<% if user_signed_in? %>
		<div class='col-xs-2 navbutton'>
			<% if current_user.profile %>
				<%= link_to 'Profile', profile_path(current_user.profile) %>
			<% else %>
				<%= link_to 'Create Your Profile', new_profile_path %>
			<% end %>
		</div>
	<% else %>
		<div class='col-xs-2 navbutton'>
			<%= link_to 'Sign Up', new_user_registration_path %>
		</div>
		<div class='col-xs-2 navbutton'>
			<%= link_to 'Log In', new_user_session_path %>
		</div>
	<% end %>
	
</div>